/****** GENERAL ***********/
* {
  font-family: "Raleway", sans-serif;
  /* Pour éviter les problèmes de padding et de border qui modifient la taille des éléments, on ajout la propriété à la racine. */
  box-sizing: border-box;
}

:root {
  --main-color: #0065FC;
  --main-bg-color: #F2F2F2;
  --icon-bg-color: #D9D9D9;
  --filter-bg-color: #DEEBFF;
  /*
    Ajout de variables pour des tailles dynamiques de 1024px à 1440px, avec valeur maximum.
    Les valeurs sont calculées en fonction de la taille de l'écran, pour être à la bonne valeur précise par rapport à la maquette (sur la base de 1440px).
    Sur la base de 100vw, on obtient la valeur d'un pixel pour un écran de 1440px, puis on multiplie par le nombre de pixels souhaité.
    Les valeurs utilisées sont celles fournies dans les maquettes.
  */

  --main-gap: min(calc(100 / 1440 * 35vw), 35px);
  --section-title-font-size: min(calc(100 / 1440 * 22vw), 22px);
  --card-title-font-size: min(calc(100 / 1440 * 16vw), 16px);
  --card-subtitle-font-size: min(calc(100 / 1440 * 14vw), 14px);
  --card-rating-font-size: min(calc(100 / 1440 * 16vw), 16px);
  --accommodations-group-direction: row;
  --accomodations-group-gap: min(calc(100 / 1440 * 40vw), 40px);
  --accomodations-width: min(calc(100 / 1440 * 871vw), 871px);
  --accomodations-gap: min(calc(100 / 1440 * 30vw), 30px);
  --accomodations-padding: min(calc(100 / 1440 * 30vw), 30px);
  --accomodations-card-width: min(calc(100 / 1440 * 250vw), 250px);
  --accomodations-card-height: min(calc(100 / 1440 * 207vw), 207px);
  --accomodations-card-image-height: min(calc(100 / 1440 * 124vw), 124px);
  --accomodations-card-image-padding: min(calc(100 / 1440 * 5vw), 5px);
  --accomodations-card-content-height: min(calc(100 / 1440 * 79vw), 79px);
  --accomodations-card-content-padding: min(calc(100 / 1440 * 15vw), 15px);
  --accomodations-cards-gap: min(calc(100 / 1440 * 30vw), 30px);
  --accomodations-cards-direction: row;
  --show-more-title-font-size: min(calc(100 / 1440 * 18vw), 18px);
  --populars-width: min(calc(100 / 1440 * 429vw), 429px);
  --populars-gap: min(calc(100 / 1440 * 30vw), 30px);
  --populars-padding: min(calc(100 / 1440 * 30vw), 30px);
  --populars-card-width: min(calc(100 / 1440 * 369vw), 369px);
  --populars-card-height: min(calc(100 / 1440 * 144vw), 144px);
  --populars-card-image-width: min(calc(100 / 1440 * 144vw), 144px);
  --populars-card-image-padding: min(calc(100 / 1440 * 5vw), 5px);
  --populars-card-content-width: min(calc(100 / 1440 * 246vw), 246px);
  --populars-card-content-padding: min(calc(100 / 1440 * 15vw), 15px);
  --populars-cards-gap: min(calc(100 / 1440 * 30vw), 30px);
  --populars-cards-direction: column;
  --activities-width: 100%;
  --activities-gap: min(calc(100 / 1440 * 30vw), 30px);
  --activities-padding: min(calc(100 / 1440 * 30vw), 30px);
  --activities-card-width: min(calc(100 / 1440 * 297.5vw), 297.5px);
  --activities-card-height: min(calc(100 / 1440 * 439vw), 439px);
  --activities-card-image-height: min(calc(100 / 1440 * 380vw), 380px);
  --activities-card-content-height: min(calc(100 / 1440 * 59vw), 59px);
  --activities-card-content-padding-inline: min(calc(100 / 1440 * 19vw), 19px);
  --activities-cards-gap: min(calc(100 / 1440 * 30vw), 30px);
  --activities-cards-direction: row;
}

@media (max-width: 1024px) {
  :root {
    /*
      Ajout de variables pour des tailles dynamiques de 768px à 1024px.
      Les valeurs sont calculées en fonction de la taille de l'écran, pour être à la bonne valeur précise par rapport à la maquette (sur la base de 1024px).
      Sur la base de 100vw, on obtient la valeur d'un pixel pour un écran de 1024, puis on multiplie par le nombre de pixels souhaité.
      Les valeurs utilisées sont celles fournies dans les maquettes.
    */

    --main-gap: calc(100 / 1024 * 35vw);
    --section-title-font-size: calc(100 / 1024 * 22vw);
    --card-title-font-size: calc(100 / 1024 * 16vw);
    --card-subtitle-font-size: calc(100 / 1024 * 14vw);
    --card-rating-font-size: calc(100 / 1024 * 16vw);
    --accommodations-group-direction: column;
    --accomodations-group-gap: calc(100 / 1024 * 40vw);
    --accomodations-width: 100%;
    --accomodations-gap: calc(100 / 1024 * 30vw);
    --accomodations-padding: calc(100 / 1024 * 30vw);
    --accomodations-card-width: calc(100 / 1024 * 268vw);
    --accomodations-card-height: calc(100 / 1024 * 207vw);
    --accomodations-card-image-height: calc(100 / 1024 * 124vw);
    --accomodations-card-image-padding: calc(100 / 1024 * 5vw);
    --accomodations-card-content-height: calc(100 / 1024 * 79vw);
    --accomodations-card-content-padding: calc(100 / 1024 * 15vw);
    --accomodations-cards-gap: calc(100 / 1024 * 30vw);
    --accomodations-cards-direction: row;
    --show-more-title-font-size: calc(100 / 1024 * 18vw);
    --populars-width: 100%;
    --populars-gap: calc(100 / 1024 * 20vw);
    --populars-padding: calc(100 / 1024 * 30vw);
    --populars-card-width: calc(100 / 1024 * 275vw);
    --populars-card-height: calc(100 / 1024 * 146vw);
    --populars-card-image-width: calc(100 / 1024 * 92vw);
    --populars-card-image-padding: calc(100 / 1024 * 5vw);
    --populars-card-content-width: calc(100 / 1024 * 183w);
    --populars-card-content-padding: calc(100 / 1024 * 15vw);
    --populars-cards-gap: calc(100 / 1024 * 20vw);
    --populars-cards-direction: row;
    --activities-width: 100%;
    --activities-gap: calc(100 / 1024 * 30vw);
    --activities-padding: calc(100 / 1024 * 30vw);
    --activities-card-width: calc(100 / 1024 * 193.5vw);
    --activities-card-height: calc(100 / 1024 * 270vw);
    --activities-card-image-height: calc(100 / 1024 * 200vw);
    --activities-card-content-height: calc(100 / 1024 * 70vw);
    --activities-card-content-padding-inline: calc(100 / 1024 * 19vw);
    --activities-cards-gap: calc(100 / 1024 * 30vw);
    --activities-cards-direction: row;
  }
}

@media (max-width: 1024px) {
  :root {
    /*
      Ajout de variables pour des tailles dynamiques de 320px à 768px.
      Les valeurs sont calculées en fonction de la taille de l'écran, pour être à la bonne valeur précise par rapport à la maquette (sur la base de 375px).
      Sur la base de 100vw, on obtient la valeur d'un pixel pour un écran de 375, puis on multiplie par le nombre de pixels souhaité.
      Les valeurs utilisées sont celles fournies dans les maquettes.
    */

    --main-gap: calc(100 / 375 * 35vw);
    --section-title-font-size: calc(100 / 375 * 22vw);
    --card-title-font-size: calc(100 / 375 * 16vw);
    --card-subtitle-font-size: calc(100 / 375 * 14vw);
    --card-rating-font-size: calc(100 / 375 * 16vw);
    /* --accommodations-group-direction: column; */
    --accomodations-group-gap: calc(100 / 375 * 15vw);
    /* --accomodations-width: 100%; */
    --accomodations-gap: calc(100 / 375 * 15vw);
    --accomodations-padding: calc(100 / 375 * 20vw);
    --accomodations-card-width: calc(100 / 375 * 335vw);
    --accomodations-card-height: calc(100 / 375 * 207vw);
    --accomodations-card-image-height: calc(100 / 375 * 124vw);
    --accomodations-card-image-padding: calc(100 / 375 * 5vw);
    --accomodations-card-content-height: calc(100 / 375 * 83vw);
    --accomodations-card-content-padding: calc(100 / 375 * 15vw);
    --accomodations-cards-gap: calc(100 / 375 * 15vw);
    --accomodations-cards-direction: column;
    --show-more-title-font-size: calc(100 / 375 * 18vw);
    /* --populars-width: 100%; */
    --populars-gap: calc(100 / 375 * 15vw);
    --populars-padding: calc(100 / 375 * 30vw) calc(100 / 375 * 20vw);
    --populars-card-width: calc(100 / 375 * 335vw);
    --populars-card-height: calc(100 / 375 * 146vw);
    --populars-card-image-width: calc(100 / 375 * 112vw);
    --populars-card-image-padding: calc(100 / 375 * 5vw);
    --populars-card-content-width: calc(100 / 375 * 223w);
    --populars-card-content-padding: calc(100 / 375 * 15vw);
    --populars-cards-gap: calc(100 / 375 * 15vw);
    --populars-cards-direction: column;
    /* --activities-width: 100%; */
    --activities-gap: calc(100 / 375 * 30vw);
    --activities-padding: calc(100 / 375 * 30vw);
    --activities-card-width: calc(100 / 375 * 315vw);
    --activities-card-height: calc(100 / 375 * 200vw);
    --activities-card-image-height: calc(100 / 375 * 141vw);
    --activities-card-content-height: calc(100 / 375 * 59vw);
    --activities-card-content-padding-inline: calc(100 / 375 * 19vw);
    --activities-cards-gap: calc(100 / 375 * 15vw);
    --activities-cards-direction: column;
  }
}

.fa-solid { color: var(--main-color); }

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  /* Afin de pouvoir conserver le ratio (largeur et hauteur), le padding est calculé en fonction de la largeur de l'écran. */
  padding-inline: var(--50px);
}

/* Les liens sont stylisés en noir sans être soulignés. */
a {
  text-decoration: none;
  color: black;
}

/***** HEADER ******/

/* Header : La taille des éléments pas besoin d'être dynamique en fonction de la taille de l'écran pour les tablettes et ordinateurs. */

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav img {
  width: 62px;
  margin-top: 15px;
}

.header-nav .nav-link {
  text-decoration: none;
  color: black;
  margin: 20px;
}

.header-nav .nav-link:hover {
  color: var(--main-color);
  border-top: 2px solid var(--main-color);
}

/******* HEADLINE *******/

/* Headline : La taille des éléments pas besoin d'être dynamique en fonction de la taille de l'écran pour les tablettes et ordinateurs. */

.headline h1 {
  margin: 50px 0 8px 0;
  font-size: 22px;
}

.headline .margin-paragraph {
  margin-top: 5px;
  margin-bottom: 35px;
}

/***** SEARCH *****/

/* Search form : La taille des éléments pas besoin d'être dynamique en fonction de la taille de l'écran pour les tablettes et ordinateurs. */

.search {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

/****** Search form ******/

.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  width: 377px;
  height: 49px;
}

.search-form .search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 49px;
  width: 49px;
  background-color: var(--icon-bg-color);
  color: black;
  border-radius: 10px 0 0 10px;
}

.search-form .search-input {
  flex: 1;
  height: 100%;
  border: 0.5px solid var(--icon-bg-color);
  padding: 10px;
  border-right: 0;
}

.search-form .search-button {
  height: 100%;
  width: 132px;
  background-color: var(--main-color);
  color: white;
  padding: 10px;
  border: 0.5px solid var(--main-color);
  border-radius: 0px 10px 10px 0px;
  font-weight: 700;
  font-size: 18px;
}

/* Le bouton est caché pour les écrans de taille inférieure à 768px. */
.search-form .mobile-search-button { display: none; }

/****** Search filters ******/

.search-filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.search-fi lters h3 { margin: 0; }

.search-filters .filter-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 50px;
}

.filter-buttons .filter-button {
  display: flex;
  align-items: center;
  border: 1px solid var(--icon-bg-color);
  border-radius: 50px;
  padding-inline: 20px;
  font-weight: bold;
  gap: 10px;
}

.filter-button:hover { background-color: var(--filter-bg-color); }

/***** INFORMATION *****/

/* Information : La taille des éléments pas besoin d'être dynamique en fonction de la taille de l'écran pour les tablettes et ordinateurs. */

.information-text {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 35px 10px;
  gap: 10px;
}

.information-text i {
  border: 1px solid var(--icon-bg-color);
  padding: 10px;
  border-radius: 50%;
}

/***** GENERAL: TITLE AND CARDS *****/

/* La taille du titre des sections ne changent pas d'un support à l'autre mais peut causer des légers problèmes lors du redimensionnement. */
.section-title {
  margin: 0;
  font-size: var(--22px);
  font-weight: 700;
}

.card {
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img { object-fit: cover; }

/*
  La taille du titre des cartes ne changent pas d'un support à l'autre mais peut causer des problèmes de débordement lors du redimensionnement.
  Une taille dynamique est utilisée.
*/
.card-title {
  margin: 0;
  font-size: var(--16px);
}

.card-subtitle {
  margin-block: var(--4px);
  font-size: var(--16px);
}

.card-rating { font-size: var(--16px); }

.euro { font-weight: 700; }

.neutral-star { color: var(--main-bg-color); }

/****** SEARCH RESULTS ***********/

/*
  Search results : La taille des éléments a besoin d'être dynamique pour garder un ratio correct sur chaque taille d'écran intermédiaire.
  Les variables dynamiques sont utilisées.
 */

.search-results {
  display: flex;
  flex-direction: column;
  gap: var(--60px);
}

/****** Accommodations ***********/

#accommodations-group {
  display: flex;
  gap: var(--40px);
}

#accommodations-group > article {
  height: fit-content;
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: var(--30px);
  display: flex;
  flex-direction: column;
  gap: var(--20px);
}

/****** --- # --- ***********/

/* Après calcul, la taille du bloc des hébergements correspond à 65% de la largeur disponible. */
.accommodations { width: 65%; }

.accommodations-cards {
  display: flex;
  justify-content: space-around;
  gap: var(--30px);
  flex-wrap: wrap;
}

.accommodations-cards .card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* On essaye de préserver le ratio de chaque carte (notamment la hauteur). */
  aspect-ratio: 243/207;
  width: var(--243px);
  max-height: var(--207px);
}

.accommodations-cards img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: var(--124px);
  padding: var(--5px);
}

/* L'agencement du contenu des cartes est différent d'une section à l'autre. Ici, le sous-titre est en bas de la carte. */
.accommodations-cards .card-content {
  padding: 0 var(--15px) var(--15px) var(--15px);
  display: flex;
  flex-direction: column;
  height: var(--83px);
  justify-content: space-between;
}

.accommodations-cards .card-title { margin-block: var(--4px); }

.show-more-title {
  margin: 0;
  /* Afin de préserver une cohérence entre les titres des sections, on utilise aussi, ici, une taille dynamique. */
  font-size: var(--18px);
  font-weight: 700;
}

/****** # Populars ***********/

/* Après calcul, la taille du bloc des hébergements populaires correspond à 32% de la largeur disponible. */
.populars { width: 32%; }

.populars-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populars-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: var(--30px);
}

.populars-cards .card {
  box-sizing: border-box;
  display: flex;
  /* On essaye de préserver le ratio de chaque carte (notamment la hauteur). */
  aspect-ratio: 369/146;
  width: var(--369px);
  max-height: var(--146px);
}

.populars-cards img {
  width: var(--123px);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: var(--5px);
}

.populars-cards .card-content {
  width: var(--246px);
  padding: var(--15px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.populars-cards .card-rating {
  margin-bottom: 5px;
}

/****** Activities ***********/

/* Activities : La taille des éléments a besoin d'être dynamique pour garder un ratio correct sur chaque taille d'écran intermédiaire. */

.activities {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--30px);
}

.activities-cards {
  display: flex;
  justify-content: space-around;
  gap: var(--30px);
}

.activities-cards .card {
  display: flex;
  flex-direction: column;
  /* La largeur de la maquette est utilisée. Celle des composants étant différente. */
  aspect-ratio: 297/439;
  width: var(--297px);
  max-height: var(--439px);
}

.activities-cards img {
  /* La largeur de la maquette est utilisée. Celle des composants étant différente. */
  width: var(--297px);
  height: var(--380px);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.activities-cards h3 {
  margin: 0;
  padding: var(--20px) var(--19px);
  font-size: var(--16px);
}


/***** FOOTER *****/

/* Footer : La taille des éléments pas besoin d'être dynamique en fonction de la taille de l'écran pour les tablettes et ordinateurs. */

.footer {
  padding-block: 20px;
  background-color: #F2F2F2;
}

.flex-footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 70px;
}

.flex-footer-column {
  display: flex;
  flex-direction: column;
  width: 447px;
  height: 163px;
  gap: 15px;
  margin-left: 20px;
}

.flex-footer-column h3 {
  font-size: 18px;
  font-weight: 700;
}

.flex-footer-column p {
  font-size: 16px;
  margin: 0;
}

@media (max-width: 1024px) {
  :root {
    /*
      Les valeurs sont calculées en fonction de la taille de l'écran, pour être à la bonne valeur précise par rapport à la maquette (sur la base de 1024px).
      Sur la base de 100vw, on obtient la valeur d'un pixel pour un écran de 1024px, puis on multiplie par le nombre de pixels souhaité.
      Les valeurs utilisées sont celles fournies dans les maquettes.
    */
    --4px: min(calc(100 / 1024 * 4vw), 4px);
    --5px: min(calc(100 / 1024 * 5vw), 5px);
    --15px: min(calc(100 / 1024 * 15vw), 15px);
    --16px: min(calc(100 / 1024 * 16vw), 16px);
    --18px: min(calc(100 / 1024 * 18vw), 18px);
    --19px: min(calc(100 / 1024 * 19vw), 19px);
    --20px: min(calc(100 / 1024 * 20vw), 20px);
    --22px: min(calc(100 / 1024 * 22vw), 22px);
    --30px: min(calc(100 / 1024 * 30vw), 30px);
    --40px: min(calc(100 / 1024 * 40vw), 40px);
    --50px: min(calc(100 / 1024 * 50vw), 50px);
    --60px: min(calc(100 / 1024 * 60vw), 60px);
    --83px: min(calc(100 / 1024 * 83vw), 83px);
    --123px: min(calc(100 / 1024 * 123vw), 123px);
    --124px: min(calc(100 / 1024 * 124vw), 124px);
    --146px: min(calc(100 / 1024 * 146vw), 146px);
    --207px: min(calc(100 / 1024 * 207vw), 207px);
    --210px: min(calc(100 / 1024 * 210vw), 210px);
    --243px: min(calc(100 / 1024 * 243vw), 243px);
    --246px: min(calc(100 / 1024 * 246vw), 246px);
    --297px: min(calc(100 / 1024 * 297vw), 297px);
    --369px: min(calc(100 / 1024 * 369vw), 369px);
    --380px: min(calc(100 / 1024 * 380vw), 380px);
    --439x: min(calc(100 / 1024 * 439vw), 439px);
  }

  /* Les filtres sont alignés différement, avec le titre au dessus. */
  .search-filters {
    flex-direction: column;
    align-items: start;
  }

  /* Les deux articles dans la section #accommodations-group sont alignés en colonne et prennent toute la largeur disponible. */
  #accommodations-group { flex-direction: column; }
  #accommodations-group > article { width: 100%; }

  /* Les hébergements populaires sont alignés en ligne. */
  .populars-cards {
    flex-direction: row;
    gap: var(--20px);
  }

  .populars-cards .card {
    /* La largeur de la maquette est utilisée. Celle des composants étant différente (et trop large). */
    aspect-ratio: 275/146;
    width: min(calc(100 / 1024 * 275vw), 275px);
  }

  .populars-cards img { width: min(calc(100 / 1024 * 92vw), 92px); }

  .activities-cards .card {
    aspect-ratio: 194/270;
    width: min(calc(100 / 1024 * 194vw), 194px);
    max-height: min(calc(100 / 1024 * 270vw), 270px);
  }

  .activities-cards img {
    /* La largeur de la maquette est utilisée. Celle des composants étant différente. */
    width: min(calc(100 / 1024 * 194vw), 194px);
    height: min(calc(100 / 1024 * 200vw), 200px);
  }

  .activities-cards h3 {
    margin: 0;
    padding: var(--16px) var(--19px);
  }
}

@media (max-width: 768px) {
  :root {
    /*
      Les valeurs sont calculées en fonction de la taille de l'écran, pour être à la bonne valeur précise par rapport à la maquette (sur la base de 375px).
      Sur la base de 100vw, on obtient la valeur d'un pixel pour un écran de 375px, puis on multiplie par le nombre de pixels souhaité.
      Les valeurs utilisées sont celles fournies dans les maquettes.
    */
    --4px: calc(100 / 375 * 4vw);
    --5px: calc(100 / 375 * 5vw);
    --15px: calc(100 / 375 * 15vw);
    --16px: calc(100 / 375 * 16vw);
    --18px: calc(100 / 375 * 18vw);
    --19px: calc(100 / 375 * 19vw);
    --20px: calc(100 / 375 * 20vw);
    --22px: calc(100 / 375 * 22vw);
    --30px: calc(100 / 375 * 30vw);
    --40px: calc(100 / 375 * 40vw);
    --50px: calc(100 / 375 * 50vw);
    --60px: calc(100 / 375 * 60vw);
    --83px: calc(100 / 375 * 83vw);
    --123px: calc(100 / 375 * 123vw);
    --124px: calc(100 / 375 * 124vw);
    --146px: calc(100 / 375 * 146vw);
    --207px: calc(100 / 375 * 207vw);
    --210px: calc(100 / 375 * 210vw);
    --243px: calc(100 / 375 * 243vw);
    --246px: calc(100 / 375 * 246vw);
    --297px: calc(100 / 375 * 297vw);
    --369px: calc(100 / 375 * 369vw);
    --380px: calc(100 / 375 * 380vw);
  }

  /* Le menu d'entête est affiché différement et est centré sur toute la largeur disponible. */

  .header-nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header-nav .logo { margin: 30px; }

  .header-nav .nav-menu {
    width: 100vw;
    display: flex;
    border: none;
    border-bottom: 2px solid var(--main-bg-color);
  }

  .header-nav .nav-link {
    margin: 0;
    padding: 20px;
    text-align: center;
    width: 100%;
  }

  .header-nav .nav-link:hover {
    border-top: none;
    border-bottom: 2px solid var(--main-color);
  }

  /* Le containeur principal n'a plus de padding partout. Celui-ci est géré par section. */
  .main-container { padding: 0; }
  .headline, .search, .information, .accommodations { padding-inline: var(--20px); }

  /* La barre de recherche est affiché sur presque toute la largeur disponible. */
  .search-form { width: calc(100 / 375 * 335vw); }

  .search-form .search-button { display: none; }

  /* Le bouton est caché pour les écrans de taille inférieure à 768px. */
  .search-form .mobile-search-button {
    border-radius: 15px;
    margin-left: -15px;
    display: block;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    height: 50px;
    width: 50px;
  }

  .search-form .mobile-search-button i { color: #FFF; }

  /* La hauteur des filtres reste fixe, seule la largeur change. */
  .search-filters { height: 161px }

  .search-filters .filter-buttons {
    flex-wrap: wrap;
    gap: calc(100 / 375 * 10vw);
  }

  .filter-buttons .filter-button {
    width: calc(100 / 375 * 162vw);
    height: 50px;
    /* La taille d'écriture est réduite en affichage mobile. */
    font-size: 14px;
  }

  /* Les blocs sont inversés en affichage mobile. */
  #accommodations-group { flex-direction: column-reverse; }

  #accommodations-group > article {
    border-radius: 0;
    padding: var(--20px);
  }

  #accommodations-group .accommodations { background-color: #FFF ; }

  .populars-cards {
    flex-direction: column;
    gap: var(--15px);
  }

  .populars-cards .card {
    /* La largeur de la maquette est utilisée. Celle des composants étant différente (et trop large). */
    aspect-ratio: 335/146;
    width: calc(100 / 375 * 335vw);
  }

  .populars-cards img { width: calc(100 / 375 * 112vw); }
  .populars-cards .card-content { width: calc(100 / 375 * 223vw); }

  .accommodations-cards {
    display: flex;
    justify-content: space-around;
    gap: var(--30px);
    flex-wrap: wrap;
  }

  .accommodations-cards .card {
    /* On essaye de préserver le ratio de chaque carte (notamment la hauteur). */
    aspect-ratio: 335/207;
    width: calc(100 / 375 * 335vw);
  }

  .activities { padding: var(--20px); }
  .activities-cards {
    flex-direction: column;
    align-items: center;
  }

  .activities-cards .card {
    /* La largeur de la maquette est utilisée. Celle des composants étant différente. */
    aspect-ratio: 315/200;
    width: calc(100 / 375 * 315vw);
    max-height: calc(100 / 375 * 200vw);
  }

  .activities-cards img {
    /* La largeur de la maquette est utilisée. Celle des composants étant différente. */
    width: calc(100 / 375 * 315vw);
    height: calc(100 / 375 * 141vw);
  }

  .activities-cards h3 {
    margin: 0;
    padding: var(--16px) var(--19px);
    height: calc(100 / 375 * 59vw);
  }

  .footer {  padding-block: 30px; }

  .flex-footer-row {
    flex-direction: column;
    gap: 50px;
  }

  .flex-footer-column { margin-left: 30px;}
}