/* -- RESET -- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }


/* -- GENERAL -- */

* {
  font-family: "Raleway", sans-serif;
  /* Pour éviter les problèmes de padding et de border qui modifient la taille des éléments, on ajoute la propriété dédiée à la racine. */
  box-sizing: border-box;
}

:root {
  --main-color: #0065FC;
  --main-bg-color: #F2F2F2;
  --icon-bg-color: #D9D9D9;
  --filter-bg-color: #DEEBFF;

  /* Tailles dynamiques les plus utilisées. */
  --20px: min(calc(100 / 1440 * 20vw), 20px);
  --30px: min(calc(100 / 1440 * 30vw), 30px);

  /*
    Ajout de variables pour des tailles dynamiques de 1024px à 1440px, avec valeur maximum.
    Les valeurs sont calculées en fonction de la taille de l'écran, pour être à la bonne valeur précise par rapport à la maquette (sur la base de 1440px).
    Sur la base de 100vw, on obtient la valeur d'un pixel pour un écran de 1440px, puis on multiplie par le nombre de pixels souhaité.
    Les valeurs utilisées sont celles fournies dans les maquettes.
  */
  --content-gap: min(calc(100 / 1440 * 35vw), 35px);
  --card-border-radius: var(--20px);
  --section-title-font-size: min(calc(100 / 1440 * 22vw), 22px);
  --card-title-font-size: min(calc(100 / 1440 * 16vw), 16px);
  --card-subtitle-font-size: min(calc(100 / 1440 * 14vw), 14px);
  --card-rating-font-size: min(calc(100 / 1440 * 16vw), 16px);
  --accommodations-section-direction: row;
  --accomodations-section-gap: min(calc(100 / 1440 * 40vw), 40px);
  --accomodations-width: min(calc(100 / 1440 * 871vw), 871px);
  --accomodations-gap: var(--30px);
  --accomodations-padding: var(--30px);
  --accomodations-card-width: min(calc(100 / 1440 * 250vw), 250px);
  --accomodations-card-height: min(calc(100 / 1440 * 207vw), 207px);
  --accomodations-card-image-height: min(calc(100 / 1440 * 124vw), 124px);
  --accomodations-card-image-padding: min(calc(100 / 1440 * 5vw), 5px);
  --accomodations-card-content-height: min(calc(100 / 1440 * 79vw), 79px);
  --accomodations-card-content-padding: min(calc(100 / 1440 * 15vw), 15px);
  --accomodations-cards-gap: var(--30px);
  --accomodations-cards-direction: row;
  --show-more-title-font-size: min(calc(100 / 1440 * 18vw), 18px);
  --populars-width: min(calc(100 / 1440 * 429vw), 429px);
  --populars-gap: var(--30px);
  --populars-padding: var(--30px);
  --populars-card-width: min(calc(100 / 1440 * 369vw), 369px);
  --populars-card-height: min(calc(100 / 1440 * 144vw), 144px);
  --populars-card-image-width: min(calc(100 / 1440 * 144vw), 144px);
  --populars-card-image-padding: min(calc(100 / 1440 * 5vw), 5px);
  --populars-card-content-width: min(calc(100 / 1440 * 246vw), 246px);
  --populars-card-content-padding: min(calc(100 / 1440 * 15vw), 15px);
  --populars-cards-gap: var(--30px);
  --populars-cards-direction: column;
  --activities-width: 100%;
  --activities-gap: var(--30px);
  --activities-padding: var(--30px);
  --activities-card-width: min(calc(100 / 1440 * 297.5vw), 297.5px);
  --activities-card-height: min(calc(100 / 1440 * 439vw), 439px);
  --activities-card-image-height: min(calc(100 / 1440 * 380vw), 380px);
  --activities-card-content-height: min(calc(100 / 1440 * 59vw), 59px);
  --activities-card-content-padding-inline: min(calc(100 / 1440 * 19vw), 19px);
  --activities-cards-gap: var(--30px);
  --activities-cards-direction: row;
}

@media (max-width: 1024px) {
  :root {
    --20px: calc(100 / 1024 * 20vw);
    --30px: calc(100 / 1024 * 30vw);

    /*
      Modification des variables pour des tailles dynamiques de 768px à 1024px.
      Les valeurs sont calculées en fonction de la taille de l'écran, pour être à la bonne valeur précise par rapport à la maquette (sur la base de 1024px).
      Sur la base de 100vw, on obtient la valeur d'un pixel pour un écran de 1024, puis on multiplie par le nombre de pixels souhaité.
      Les valeurs utilisées sont celles fournies dans les maquettes.
    */
    --content-gap: calc(100 / 1024 * 35vw);
    --card-border-radius: calc(100 / 1024 * 20vw);
    --section-title-font-size: calc(100 / 1024 * 22vw);
    --card-title-font-size: calc(100 / 1024 * 16vw);
    --card-subtitle-font-size: calc(100 / 1024 * 14vw);
    --card-rating-font-size: calc(100 / 1024 * 16vw);
    --accommodations-section-direction: column;
    --accomodations-section-gap: calc(100 / 1024 * 40vw);
    --accomodations-width: 100%;
    --accomodations-gap: calc(100 / 1024 * 30vw);
    --accomodations-padding: calc(100 / 1024 * 30vw);
    --accomodations-card-width: calc(100 / 1024 * 268vw);
    --accomodations-card-height: calc(100 / 1024 * 207vw);
    --accomodations-card-image-height: calc(100 / 1024 * 124vw);
    --accomodations-card-image-padding: calc(100 / 1024 * 5vw);
    --accomodations-card-content-height: calc(100 / 1024 * 79vw);
    --accomodations-card-content-padding: calc(100 / 1024 * 15vw);
    --accomodations-cards-gap: calc(100 / 1024 * 30vw);
    --accomodations-cards-direction: row;
    --show-more-title-font-size: calc(100 / 1024 * 18vw);
    --populars-width: 100%;
    --populars-gap: calc(100 / 1024 * 20vw);
    --populars-padding: calc(100 / 1024 * 30vw);
    --populars-card-width: calc(100 / 1024 * 275vw);
    --populars-card-height: calc(100 / 1024 * 146vw);
    --populars-card-image-width: calc(100 / 1024 * 92vw);
    --populars-card-image-padding: calc(100 / 1024 * 5vw);
    --populars-card-content-width: calc(100 / 1024 * 183w);
    --populars-card-content-padding: calc(100 / 1024 * 15vw);
    --populars-cards-gap: calc(100 / 1024 * 20vw);
    --populars-cards-direction: row;
    --activities-width: 100%;
    --activities-gap: calc(100 / 1024 * 30vw);
    --activities-padding: calc(100 / 1024 * 30vw);
    --activities-card-width: calc(100 / 1024 * 193.5vw);
    --activities-card-height: calc(100 / 1024 * 270vw);
    --activities-card-image-height: calc(100 / 1024 * 200vw);
    --activities-card-content-height: calc(100 / 1024 * 70vw);
    --activities-card-content-padding-inline: calc(100 / 1024 * 19vw);
    --activities-cards-gap: calc(100 / 1024 * 30vw);
    --activities-cards-direction: row;
  }
}

@media (max-width: 768px) {
  :root {
    /*
      Modification des variables pour des tailles dynamiques de 320px à 768px.
      Les valeurs sont calculées en fonction de la taille de l'écran, pour être à la bonne valeur précise par rapport à la maquette (sur la base de 375px).
      Sur la base de 100vw, on obtient la valeur d'un pixel pour un écran de 375, puis on multiplie par le nombre de pixels souhaité.
      Les valeurs utilisées sont celles fournies dans les maquettes.
    */
    --content-gap: calc(100 / 375 * 35vw);
    --card-border-radius: calc(100 / 375 * 20vw);
    --section-title-font-size: calc(100 / 375 * 22vw);
    --card-title-font-size: calc(100 / 375 * 16vw);
    --card-subtitle-font-size: calc(100 / 375 * 14vw);
    --card-rating-font-size: calc(100 / 375 * 16vw);
    /* --accommodations-section-direction: column; */
    --accomodations-section-gap: calc(100 / 375 * 15vw);
    /* --accomodations-width: 100%; */
    --accomodations-gap: calc(100 / 375 * 15vw);
    --accomodations-padding: calc(100 / 375 * 20vw);
    --accomodations-card-width: calc(100 / 375 * 335vw);
    --accomodations-card-height: calc(100 / 375 * 207vw);
    --accomodations-card-image-height: calc(100 / 375 * 124vw);
    --accomodations-card-image-padding: calc(100 / 375 * 5vw);
    --accomodations-card-content-height: calc(100 / 375 * 83vw);
    --accomodations-card-content-padding: calc(100 / 375 * 15vw);
    --accomodations-cards-gap: calc(100 / 375 * 15vw);
    --accomodations-cards-direction: column;
    --show-more-title-font-size: calc(100 / 375 * 18vw);
    /* --populars-width: 100%; */
    --populars-gap: calc(100 / 375 * 15vw);
    --populars-padding: calc(100 / 375 * 30vw) calc(100 / 375 * 20vw);
    --populars-card-width: calc(100 / 375 * 335vw);
    --populars-card-height: calc(100 / 375 * 146vw);
    --populars-card-image-width: calc(100 / 375 * 112vw);
    --populars-card-image-padding: calc(100 / 375 * 5vw);
    --populars-card-content-width: calc(100 / 375 * 223w);
    --populars-card-content-padding: calc(100 / 375 * 15vw);
    --populars-cards-gap: calc(100 / 375 * 15vw);
    --populars-cards-direction: column;
    /* --activities-width: 100%; */
    --activities-gap: calc(100 / 375 * 30vw);
    --activities-padding: calc(100 / 375 * 30vw);
    --activities-card-width: calc(100 / 375 * 315vw);
    --activities-card-height: calc(100 / 375 * 200vw);
    --activities-card-image-height: calc(100 / 375 * 141vw);
    --activities-card-content-height: calc(100 / 375 * 59vw);
    --activities-card-content-padding-inline: calc(100 / 375 * 19vw);
    --activities-cards-gap: calc(100 / 375 * 15vw);
    --activities-cards-direction: column;
  }
}

.fa-solid { color: var(--main-color); }

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  /* Afin de pouvoir conserver le ratio (largeur et hauteur), le padding est calculé en fonction de la largeur de l'écran. */
  padding-inline: var(--50px);
}

/* Les liens sont stylisés en noir sans être soulignés. */
a {
  text-decoration: none;
  color: black;
}


/* -- HEADER -- */

/* Header : La taille des éléments pas besoin d'être dynamique en fonction de la taille de l'écran pour les tablettes et ordinateurs. */

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav img {
  width: 62px;
  margin-top: 15px;
}

.header-nav .nav-link {
  text-decoration: none;
  color: black;
  margin: 20px;
}

.header-nav .nav-link:hover {
  color: var(--main-color);
  border-top: 2px solid var(--main-color);
}


/* -- INFORMATION SECTION -- */

/* -- Headline -- */
/* La taille des éléments pas besoin d'être dynamique en fonction de la taille de l'écran pour les tablettes et ordinateurs. */

.headline h1 {
  margin: 50px 0 8px 0;
  font-size: 22px;
}

.headline .margin-paragraph {
  margin-top: 5px;
  margin-bottom: 35px;
}

/* -- Search bar -- */
/* La taille des éléments pas besoin d'être dynamique en fonction de la taille de l'écran pour les tablettes et ordinateurs. */

.search-bar {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  width: 377px;
  height: 49px;
}

.search-form .search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 49px;
  width: 49px;
  background-color: var(--icon-bg-color);
  color: black;
  border-radius: 10px 0 0 10px;
}

.search-form .search-input {
  flex: 1;
  height: 100%;
  border: 0.5px solid var(--icon-bg-color);
  padding: 10px;
  border-right: 0;
}

.search-form .search-button {
  height: 100%;
  width: 132px;
  background-color: var(--main-color);
  color: white;
  padding: 10px;
  border: 0.5px solid var(--main-color);
  border-radius: 0px 10px 10px 0px;
  font-weight: 700;
  font-size: 18px;
}

/* Le bouton est caché pour les écrans de taille inférieure à 768px. */
.search-form .mobile-search-button { display: none; }

/* -- Search filters -- */

.search-filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.search-fi lters h3 { margin: 0; }

.search-filters .filter-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 50px;
}

.filter-buttons .filter-button {
  display: flex;
  align-items: center;
  border: 1px solid var(--icon-bg-color);
  border-radius: 50px;
  padding-inline: 20px;
  font-weight: bold;
  gap: 10px;
}

.filter-button:hover { background-color: var(--filter-bg-color); }

/* -- Information text -- */
/* La taille des éléments pas besoin d'être dynamique en fonction de la taille de l'écran pour les tablettes et ordinateurs. */

.information-text {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 35px 10px;
  gap: 10px;
}

.information-text i {
  border: 1px solid var(--icon-bg-color);
  padding: 10px;
  border-radius: 50%;
}


/* -- GENERAL: TITLES AND CARDS -- */

.section-title {
  margin: 0;
  /* La taille du titre des sections ne changent pas d'un support à l'autre mais peut causer des légers problèmes lors du redimensionnement. */
  font-size: var(--22px);
  font-weight: 700;
}

.card {
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img { object-fit: cover; }

/*
  La taille du contenu textuel des cartes ne changent pas d'un support à l'autre mais peut causer des problèmes de débordement lors du redimensionnement.
  Une taille dynamique est utilisée.
*/

.card-title {
  margin: 0;
  font-size: var(--16px);
}

.card-subtitle {
  margin-block: var(--4px);
  font-size: var(--16px);
}

.card-rating { font-size: var(--16px); }

.euro { font-weight: 700; }

.neutral-star { color: var(--main-bg-color); }


/* -- ACCOMMODATIONS SECTION -- */
/*
  La taille des éléments a besoin d'être dynamique pour garder un ratio correct sur chaque taille d'écran intermédiaire.
  Les variables dynamiques sont utilisées.
 */

#accommodations-section {
  display: flex;
  gap: var(--40px);
}

#accommodations-section > article {
  height: fit-content;
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: var(--30px);
  display: flex;
  flex-direction: column;
  gap: var(--20px);
}

/* -- Accommodations -- */

/* Après calcul, la taille du bloc des hébergements correspond à 65% de la largeur disponible. */
.accommodations { width: 65%; }

.accommodations-cards {
  display: flex;
  justify-content: space-around;
  gap: var(--30px);
  flex-wrap: wrap;
}

.accommodations-cards .card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* On essaye de préserver le ratio de chaque carte (notamment la hauteur). */
  aspect-ratio: 243/207;
  width: var(--243px);
  max-height: var(--207px);
}

.accommodations-cards img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: var(--124px);
  padding: var(--5px);
}

/* L'agencement du contenu des cartes est différent d'une section à l'autre. Ici, le sous-titre est en bas de la carte. */
.accommodations-cards .card-content {
  padding: 0 var(--15px) var(--15px) var(--15px);
  display: flex;
  flex-direction: column;
  height: var(--83px);
  justify-content: space-between;
}

.accommodations-cards .card-title { margin-block: var(--4px); }

.show-more-title {
  margin: 0;
  /* Afin de préserver une cohérence entre les titres des sections, on utilise aussi, ici, une taille dynamique. */
  font-size: var(--18px);
  font-weight: 700;
}

/* -- Populars -- */

/* Après calcul, la taille du bloc des hébergements populaires correspond à 32% de la largeur disponible. */
.populars { width: 32%; }

.populars-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populars-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: var(--30px);
}

.populars-cards .card {
  box-sizing: border-box;
  display: flex;
  /* On essaye de préserver le ratio de chaque carte (notamment la hauteur). */
  aspect-ratio: 369/146;
  width: var(--369px);
  max-height: var(--146px);
}

.populars-cards img {
  width: var(--123px);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: var(--5px);
}

.populars-cards .card-content {
  width: var(--246px);
  padding: var(--15px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.populars-cards .card-rating {
  margin-bottom: 5px;
}


/* -- ACTIVITIES SECTION -- */
/* La taille des éléments a besoin d'être dynamique pour garder un ratio correct sur chaque taille d'écran intermédiaire. */

.activities {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--30px);
}

.activities-cards {
  display: flex;
  justify-content: space-around;
  gap: var(--30px);
}

.activities-cards .card {
  display: flex;
  flex-direction: column;
  /* La largeur de la maquette est utilisée. Celle des composants étant différente. */
  aspect-ratio: 297/439;
  width: var(--297px);
  max-height: var(--439px);
}

.activities-cards img {
  /* La largeur de la maquette est utilisée. Celle des composants étant différente. */
  width: var(--297px);
  height: var(--380px);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.activities-cards h3 {
  margin: 0;
  padding: var(--20px) var(--19px);
  font-size: var(--16px);
}


/* -- FOOOTER -- */
/* La taille des éléments pas besoin d'être dynamique en fonction de la taille de l'écran pour les tablettes et ordinateurs. */

.footer {
  padding-block: 20px;
  background-color: #F2F2F2;
}

.flex-footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 70px;
}

.flex-footer-column {
  display: flex;
  flex-direction: column;
  width: 447px;
  height: 163px;
  gap: 15px;
  margin-left: 20px;
}

.flex-footer-column h3 {
  font-size: 18px;
  font-weight: 700;
}

.flex-footer-column p {
  font-size: 16px;
  margin: 0;
}