@import "utilities/variables";
@import "utilities/mixins";

* {
  font-family: "Raleway", sans-serif;
  @include responsive-sizes(font-size, 16);
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: $black;
  font-family: "Raleway", sans-serif;
}

button { cursor: pointer; }

.body {
  @include flex-column;
  width: 100%;
  max-width: 1440px;
  @include responsive-sizes(padding-inline, 50, (768: 0));
  @include responsive-sizes(gap, 30);
  .container {
    @include flex-column;
    @include responsive-sizes(gap, 35);
    main {
      @include flex-column;
      @include responsive-sizes(gap, 35);
    }
  }
}



.fa-solid { color: $blue; }

.text-bold-extra-large { @include text-bold(22); }

.text-bold-large { @include text-bold(18); }

.text-bold-regular { @include text-bold(16); }

.text-small {   @include responsive-sizes(font-size, 14); }

.card {
  @include responsive-sizes(border-radius, 20);
  @include responsive-values(box-shadow, 0px resize(1440, 3) resize(1440, 15) rgba(0, 0, 0, 0.1), (1024: 0px resize(1024, 3) resize(1024, 15) rgba(0, 0, 0, 0.1), 768: 0px resize(768, 3) resize(768, 15) rgba(0, 0, 0, 0.1)));
  img { object-fit: cover; }
  .euro { font-weight: 700; }
  .neutral-star { color: $light-grey }
}