@import "utilities/variables";
@import "utilities/mixins";

* {
  font-family: "Raleway", sans-serif;
  @include dynamic-sizes(font-size, 16);
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $black;
  font-family: "Raleway", sans-serif;
}

button { cursor: pointer; }

.text-extra-large { @include text-bold(22); }

.text-large { @include text-bold(18); }