@import "utilities/variables";
@import "utilities/mixins";

.information {
  @include flex-column;
  @include dynamic-sizes(gap, 30, (768: 35));
  @include dynamic-sizes(padding-inline, 0, (768: 20));

  .headline {
    @include flex-column;
    @include dynamic-sizes(gap, 8);
  }

  .search-bar-form {
    @include flex-row;
    @include dynamic-values(justify-content, flex-start, (768: center));
    @include dynamic-sizes(width, 377, (768: 335));
    @include dynamic-sizes(height, 49);

    &-icon {
      @include flex-center;
      @include dynamic-sizes(width, 50);
      height: inherit;
      background-color: $grey;
      color: $black;
      @include border-radius(15, 0, 0, 15);
    }

    &-input {
      flex: 1;
      height: inherit;
      @include dynamic-sizes(padding-left, 24);
      @include border-solid(1, $grey);
      outline: none;
    }

    button {
      height: inherit;
      background-color: $blue;
      color: $white;
      border: none;

      i { color: $white; }
    }

    &-submit {
      @include flex-center;
      @include dynamic-values(display, flex, (768: none));
      @include dynamic-sizes(width, 132);
      @include border-radius(0, 15, 15, 0);
    }

    &-mobile-submit {
      @include flex-center;
      @include dynamic-values(display, none, (768: flex));
      @include square(49);
      @include dynamic-sizes(margin-left, -15);
      @include dynamic-sizes(border-radius, 15);
    }
  }

  .search-filters {
    display: flex;
    @include dynamic-values(flex-direction, row, (1024: column, 768: column));
    height: fit-content;
    @include dynamic-values(align-items, center, (1024: flex-start, 768: flex-start));
    @include dynamic-sizes(gap, 15, (1024: 20, 768: 20));

    &-buttons {
      @include flex-row;
      flex-wrap: wrap;
      @include dynamic-sizes(gap, 15);

      a {
        @include flex-center;
        @include dynamic-values(flex, 0 1 auto, (768: 1));
        @include dynamic-sizes(gap, 10);
        @include dynamic-sizes(height, 50);
        @include dynamic-sizes(padding-inline, 19);
        @include dynamic-sizes(padding-block, 4);
        @include border-solid(1, $grey);
        @include dynamic-sizes(border-radius, 25);
        font-weight: 700;

        span { @include dynamic-sizes(font-size, 16, (768: 14)); }

        &:hover { background-color: $blue-grey; }
      }
    }
  }

  &-text {
    @include flex-row;
    @include dynamic-sizes(gap, 10);

    i {
      @include flex-center;
      @include square(24);
      @include border-solid(1, $grey);
      border-radius: 50%;
    }
  }
}
