@import "utilities/mixins";
@import "utilities/variables";

.information {
  @include flex-column;
  @include dynamic-sizes(gap, 30, (768: 35));
  @include dynamic-sizes(padding-inline, 0, (768: 20));

  .headline {
    @include flex-column;
    @include dynamic-sizes(gap, 8);
  }

  .search-bar-form {
    @include flex-row;
    @include dynamic-values(justify-content, flex-start, (768: center));
    @include dynamic-sizes(width, 377, (768: 335));
    @include dynamic-sizes(height, 49);

    &-icon {
      @include flex-center;
      @include dynamic-sizes(width, 50);
      @include dynamic-sizes(height, 49);
      background-color: $grey;
      @include border-radius(15, 0, 0, 15);
    }

    &-input {
      @include dynamic-values(flex, 0 1 auto, (768: 1));
      height: 100%;
      @include dynamic-sizes(border-width, 1);
      outline: none;
      @include dynamic-sizes(padding-left, 24);
    }

    &-submit {
      @include flex-center;
      @include dynamic-values(display, flex, (768: none));
      @include dynamic-sizes(width, 132);
      height: inherit;
      background-color: $blue;
      color: $white;
      @include border-radius(0, 15, 15, 0);
    }

    &-mobile-submit {
      @include flex-center;
      @include dynamic-values(display, none, (768: flex));
      height: inherit;
      width: var(--search-bar-icon-size);
      background-color: var(--main-color);
      color: white;
      border: 0.5px solid var(--main-color);
      border-radius: var(--search-bar-icon-mobile-border-radius);
      margin-left: -15px;

      i { color: #FFF; }
    }
  }

  .search-filters {
    display: flex;
    @include dynamic-values(flex-direction, row, (1024: column, 768: column));
    height: fit-content;
    align-items: var(--search-filters-alignment);
    gap: var(--search-filters-gap);

    &-buttons {
      @include flex-row;
      flex-wrap: wrap;
      gap: var(--search-filters-buttons-gap);

      a {
        @include flex-center;
        font-size: var(--regular-font-size);
        height: var(--search-filter-button-height);
        border: 1px solid var(--icon-bg-color);
        border-radius: var(--search-filter-button-border-radius);
        font-weight: 700;
        gap: var(--search-filter-button-gap);
        padding: var(--search-filter-button-padding);

        &:hover { background-color: var(--filter-bg-color); }

        @media (max-width: 768px) { flex: 1; }
      }
    }
  }

  &-text {
    @include flex-row;
    gap: var(--information-text-gap);

    i {
      border: 1px solid var(--icon-bg-color);
      padding: 10px;
      border-radius: 50%;
    }
  }
}


@media (max-width: 768px) {
  .search-bar .search-button { display: none; }
  .search-bar .mobile-search-button { display: flex; }
}
