@use "sass:map";

@function resize($viewport, $size) {
  $viewport: $viewport;
  @if $viewport == 768 { $viewport: 375; }
  @if $viewport == 1440 { @return min(calc(100 / #{ $viewport } * #{ $size }vw), #{ $size }px); }
  @else { @return calc(100 / #{ $viewport } * #{ $size }vw); }
}

@mixin responsive-sizes($property, $default-size, $viewport-sizes: (1024 : $default-size, 768 : $default-size), $breakpoint-type: max-width) {
  $viewport-sizes: map.merge((1024 : $default-size, 768 : $default-size), $viewport-sizes);
  #{ $property }: #{ resize(1440, $default-size) };
  @each $viewport, $size in $viewport-sizes {
    @media ($breakpoint-type: "#{ $viewport }px") {
      #{ $property }: #{ resize($viewport, $size) };
    }
  }
}

@mixin responsive-values($property, $default-value, $viewport-values: (1024 : $default-value, 768 : $default-value), $breakpoint-type: max-width) {
  $viewport-values: map.merge((1024 : $default-value, 768 : $default-value), $viewport-values);
  #{ $property }: #{ $default-value };
  @each $viewport, $value in $viewport-values {
    @media ($breakpoint-type: "#{ $viewport }px") {
      #{ $property }: #{ $value };
    }
  }
}

@mixin text-bold($font-size) {
  @include responsive-sizes(font-size, $font-size);
  font-weight: 700;
}

@mixin padding($top, $right, $bottom, $left) {
  @include responsive-sizes(padding-top, $top);
  @include responsive-sizes(padding-right, $right);
  @include responsive-sizes(padding-bottom, $bottom);
  @include responsive-sizes(padding-left, $left);
}

@mixin border($border-width, $border-color) {
  @include responsive-sizes(border-width, 1);
  border-style: solid;
  border-color: $border-color;
}

@mixin border-radius($top-left, $top-right, $bottom-right, $bottom-left) {
  @include responsive-sizes(border-top-left-radius, $top-left);
  @include responsive-sizes(border-top-right-radius, $top-right);
  @include responsive-sizes(border-bottom-right-radius, $bottom-right);
  @include responsive-sizes(border-bottom-left-radius, $bottom-left);
}

@mixin square($size) {
  aspect-ratio: 1;
  @include responsive-sizes(width, $size);
  @include responsive-sizes(height, $size);
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-around {
  display: flex;
  justify-content: space-around;
}