@use "sass:map";

@function dynamic-size($viewport, $size) {
  $viewport: $viewport;
  @if $viewport == 768 { $viewport: 375; }
  @if $viewport == 1440 { @return min(calc(100 / #{ $viewport } * #{ $size }vw), #{ $size }px); }
  @else { @return calc(100 / #{ $viewport } * #{ $size }vw); }
}

@mixin dynamic-sizes($property, $default-size, $viewport-sizes: (1024 : $default-size, 768 : $default-size), $breakpoint-type: max-width) {
  $viewport-sizes: map.merge((1024 : $default-size, 768 : $default-size), $viewport-sizes);
  #{ $property }: #{ dynamic-size(1440, $default-size) };
  @each $viewport, $size in $viewport-sizes {
    @media ($breakpoint-type: "#{ $viewport }px") {
      #{ $property }: #{ dynamic-size($viewport, $size) };
    }
  }
}

@mixin dynamic-values($property, $default-value, $viewport-values: (1024 : $default-value, 768 : $default-value), $breakpoint-type: max-width) {
  $viewport-values: map.merge((1024 : $default-value, 768 : $default-value), $viewport-values);
  #{ $property }: #{ $default-value };
  @each $viewport, $value in $viewport-values {
    @media ($breakpoint-type: "#{ $viewport }px") {
      #{ $property }: #{ $value };
    }
  }
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}