@import "partials/reset";
@import "partials/general";



:root {
  --main-color: #0065FC;
  --main-bg-color: #F2F2F2;
  --icon-bg-color: #D9D9D9;
  --filter-bg-color: #DEEBFF;

  /* Commonly used dynamic variables based on the 1440px mockup. */
  --10px: min(calc(100 / 1440 * 10vw), 10px);
  --15px: min(calc(100 / 1440 * 15vw), 15px);
  --16px: min(calc(100 / 1440 * 16vw), 16px);
  --18px: min(calc(100 / 1440 * 18vw), 18px);
  --19px: min(calc(100 / 1440 * 19vw), 19px);
  --20px: min(calc(100 / 1440 * 20vw), 20px);
  --30px: min(calc(100 / 1440 * 30vw), 30px);

  /* Dynamic variables for screens larger than 1024px based on the 1440px mockup. */

  /* Font-sizes */
  --small-font-size: min(calc(100 / 1440 * 14vw), 14px);
  --regular-font-size: var(--16px);
  --large-font-size: var(--18px);
  --extra-large-font-size: min(calc(100 / 1440 * 22vw), 22px);

  /* Main container */
  --main-container-padding-inline: min(calc(100 / 1440 * 50vw), 50px);

  /* Content */
  --content-margin-block: var(--30px);
  --content-gap: min(calc(100 / 1440 * 35vw), 35px);

  /* Cards */
  --card-border-radius: var(--20px);
  --card-image-border-radius-top: var(--20px) var(--20px) 0 0;
  --card-image-border-radius-left: var(--20px) 0 0 var(--20px);
  /* Accommodations cards */
  --accomodation-card-aspect-ratio: 250 / 207;
  --accommodations-card-width: min(calc(100 / 1440 * 250vw), 250px);
  --accommodations-card-height: min(calc(100 / 1440 * 207vw), 207px);
  --accommodations-card-image-height: min(calc(100 / 1440 * 124vw), 124px);
  --accommodations-card-content-height: min(calc(100 / 1440 * 79vw), 79px);
  /* Populars cards */
  --popular-card-aspect-ratio: 369 / 144;
  --populars-card-width: min(calc(100 / 1440 * 369vw), 369px);
  --populars-card-height: min(calc(100 / 1440 * 144vw), 144px);
  --populars-card-image-width: min(calc(100 / 1440 * 144vw), 144px);
  --populars-card-content-width: min(calc(100 / 1440 * 246vw), 246px);
  /* Activities cards */
  --activities-card-aspect-ratio: 297.5 / 439;
  --activities-card-width: min(calc(100 / 1440 * 297.5vw), 297.5px);
  --activities-card-height: min(calc(100 / 1440 * 439vw), 439px);
  --activities-card-image-height: min(calc(100 / 1440 * 380vw), 380px);
  --activities-card-content-height: min(calc(100 / 1440 * 59vw), 59px);
  --activities-card-content-padding-inline: var(--19px);

  /* Accommodations section */
  --accommodations-section-direction: row;
  --accommodations-section-gap: min(calc(100 / 1440 * 40vw), 40px);
  --accommodations-section-card-image-padding: min(calc(100 / 1440 * 5vw), 5px);
  --accommodations-section-card-content-padding: var(--15px);
  /* Accommodations */
  --accommodations-width: min(calc(100 / 1440 * 871vw), 871px);
  --accommodations-padding: var(--30px);
  --accommodations-gap: var(--30px);
  --accommodations-border-radius: var(--15px);
  /* Accommodations card-box */
  --accommodations-cards-direction: row;
  --accommodations-cards-gap: var(--30px);

  --populars-width: min(calc(100 / 1440 * 429vw), 429px);
  --populars-gap: var(--30px);
  --populars-padding: var(--30px);
  --populars-border-radius: var(--15px);

  --populars-cards-gap: var(--30px);
  --populars-cards-direction: column;
  --activities-width: 100%;
  --activities-gap: var(--30px);
  --activities-padding: var(--30px);

  --activities-cards-gap: var(--30px);
  --activities-cards-direction: row;
}

@media (max-width: 1024px) {
  :root {
    /* Tailles dynamiques les plus utilisées. */
    --10px: calc(100 / 1024 * 10vw);
    --15px: calc(100 / 1024 * 15vw);
    --16px: calc(100 / 1024 * 16vw);
    --18px: calc(100 / 1024 * 18vw);
    --19px: calc(100 / 1024 * 19vw);
    --20px: calc(100 / 1024 * 20vw);
    --30px: calc(100 / 1024 * 30vw);
    /* Variables dynamiques pour les écrans entre 768px et 1024px sur la base de la maquette à 1024px. */
    --content-gap: calc(100 / 1024 * 35vw);
    --main-container-padding-inline: calc(100 / 1024 * 50vw);
    --section-title-font-size: calc(100 / 1024 * 22vw);
    --card-subtitle-font-size: calc(100 / 1024 * 14vw);
    --accommodations-section-direction: column;
    --accommodations-section-gap: calc(100 / 1024 * 40vw);
    --accommodations-section-card-image-padding: calc(100 / 1024 * 5vw);
    --accommodations-width: 100%;
    --accommodations-card-width: calc(100 / 1024 * 268vw);
    --accommodations-card-height: calc(100 / 1024 * 207vw);
    --accommodations-card-image-height: calc(100 / 1024 * 124vw);
    --accommodations-card-content-height: calc(100 / 1024 * 79vw);
    --accommodations-cards-direction: row;
    --populars-width: 100%;
    --populars-gap: var(--20px);
    --populars-card-width: calc(100 / 1024 * 275vw);
    --populars-card-height: calc(100 / 1024 * 146vw);
    --populars-card-image-width: calc(100 / 1024 * 92vw);
    --populars-card-content-width: calc(100 / 1024 * 183w);
    --populars-cards-gap: var(--20px);
    --populars-cards-direction: row;
    --activities-width: 100%;
    --activities-card-width: calc(100 / 1024 * 193.5vw);
    --activities-card-height: calc(100 / 1024 * 270vw);
    --activities-card-image-height: calc(100 / 1024 * 200vw);
    --activities-card-content-height: calc(100 / 1024 * 70vw);
    --activities-cards-direction: row;
  }
}

@media (max-width: 768px) {
  :root {
    /* Tailles dynamiques les plus utilisées. */
    --10px: calc(100 / 375 * 10vw);
    --15px: calc(100 / 375 * 15vw);
    --16px: calc(100 / 375 * 16vw);
    --18px: calc(100 / 375 * 18vw);
    --19px: calc(100 / 375 * 19vw);
    --20px: calc(100 / 375 * 20vw);
    --30px: calc(100 / 375 * 30vw);
    /* Variables dynamiques pour les écrans entre 320px et 768px sur la base de la maquette à 375px. */
    --content-gap: calc(100 / 375 * 35vw);
    --main-container-padding-inline: 0;
    --section-title-font-size: calc(100 / 375 * 22vw);
    --card-subtitle-font-size: calc(100 / 375 * 14vw);
    --accommodations-section-gap: var(--15px);
    --accommodations-section-card-image-padding: calc(100 / 375 * 5vw);
    --accommodations-gap: var(--15px);
    --accommodations-padding: var(--20px);
    --accommodations-card-width: calc(100 / 375 * 335vw);
    --accommodations-card-height: calc(100 / 375 * 207vw);
    --accommodations-card-image-height: calc(100 / 375 * 124vw);
    --accommodations-card-content-height: calc(100 / 375 * 83vw);
    --accommodations-cards-gap: var(--15px);
    --accommodations-cards-direction: column;
    --populars-gap: var(--15px);
    --populars-padding: var(--30px) var(--20px);;
    --populars-card-width: calc(100 / 375 * 335vw);
    --populars-card-height: calc(100 / 375 * 146vw);
    --populars-card-image-width: calc(100 / 375 * 112vw);
    --populars-card-content-width: calc(100 / 375 * 223w);
    --populars-cards-gap: var(--15px);
    --populars-cards-direction: column;
    --activities-gap: var(--20px);
    --activities-card-width: calc(100 / 375 * 315vw);
    --activities-card-height: calc(100 / 375 * 200vw);
    --activities-card-image-height: calc(100 / 375 * 141vw);
    --activities-card-content-height: calc(100 / 375 * 59vw);
    --activities-cards-gap: var(--15px);
    --activities-cards-direction: column;
  }
}





body {
  display: flex;
  justify-content: center;
}

p, span, i { font-size: var(--regular-font-size); }

.main-container {
  width: 100%;
  max-width: 1440px;
  /* Afin de pouvoir conserver le ratio (largeur et hauteur), le padding est calculé en fonction de la largeur de l'écran. */
  padding-inline: var(--main-container-padding-inline);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--content-gap);
  margin-block: var(--content-margin-block);
}

/* Les liens sont stylisés en noir sans être soulignés. */


/* -- HEADER -- */

/* Header : La taille des éléments pas besoin d'être dynamique en fonction de la taille de l'écran pour les tablettes et ordinateurs. */

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav img {
  width: 62px;
  margin-top: 15px;
}

.header-nav .nav-link {
  text-decoration: none;
  color: black;
  margin: 20px;
}

.header-nav .nav-link:hover {
  color: var(--main-color);
  border-top: 2px solid var(--main-color);
}

@import "partials/information";
@import "partials/accommodations";



/* -- ACTIVITIES SECTION -- */
/* La taille des éléments a besoin d'être dynamique pour garder un ratio correct sur chaque taille d'écran intermédiaire. */

.activities {
  width: var(--activities-width);
  display: flex;
  flex-direction: column;
  gap: var(--activities-gap);
}

.activities-cards {
  display: flex;
  justify-content: space-around;
  gap: var(--activities-cards-gap);
}

.activities-cards .card {
  display: flex;
  flex-direction: column;
  width: var(--activities-card-width);
  max-height: var(--activities-card-height);
}

.activities-cards img { height: var(--activities-card-image-height); }

/* -- FOOOTER -- */
/* La taille des éléments pas besoin d'être dynamique en fonction de la taille de l'écran pour les tablettes et ordinateurs. */

.footer {
  padding-block: 20px;
  background-color: #F2F2F2;
}

.flex-footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 70px;
}

.flex-footer-column {
  display: flex;
  flex-direction: column;
  width: 447px;
  height: 163px;
  gap: 15px;
  margin-left: 20px;
}

.flex-footer-column h3 {
  font-size: 18px;
  font-weight: 700;
}

.flex-footer-column p {
  font-size: 16px;
  margin: 0;
}