@import "partials/reset";

/* -- GENERAL -- */

* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

:root {
  --main-color: #0065FC;
  --main-bg-color: #F2F2F2;
  --icon-bg-color: #D9D9D9;
  --filter-bg-color: #DEEBFF;

  /* Commonly used dynamic variables based on the 1440px mockup. */
  --10px: min(calc(100 / 1440 * 10vw), 10px);
  --15px: min(calc(100 / 1440 * 15vw), 15px);
  --16px: min(calc(100 / 1440 * 16vw), 16px);
  --18px: min(calc(100 / 1440 * 18vw), 18px);
  --19px: min(calc(100 / 1440 * 19vw), 19px);
  --20px: min(calc(100 / 1440 * 20vw), 20px);
  --30px: min(calc(100 / 1440 * 30vw), 30px);

  /* Dynamic variables for screens larger than 1024px based on the 1440px mockup. */

  /* Font-sizes */
  --small-font-size: min(calc(100 / 1440 * 14vw), 14px);
  --regular-font-size: var(--16px);
  --large-font-size: var(--18px);
  --extra-large-font-size: min(calc(100 / 1440 * 22vw), 22px);

  /* Main container */
  --main-container-padding-inline: min(calc(100 / 1440 * 50vw), 50px);

  /* Content */
  --content-margin-block: var(--30px);
  --content-gap: min(calc(100 / 1440 * 35vw), 35px);

  /* Information section */
  --information-section-padding-inline: 0;
  --information-section-gap: var(--30px);
  /* Headline */
  --headline-gap: min(calc(100 / 1440 * 8vw), 8px);
  /* Search bar */
  --search-bar-width: min(calc(100 / 1440 * 377vw), 377px);
  --search-bar-height: min(calc(100 / 1440 * 49vw), 49px);
  --search-bar-justify-content: flex-start;
  /* Search bar input */
  --search-bar-input-padding-left: min(calc(100 / 1440 * 24vw), 24px);
  /* Search bar button */
  --search-bar-button-width: min(calc(100 / 1440 * 132vw), 132px);
  /* Search bar icons */
  --icon-size: min(calc(100 / 1440 * 50vw), 49px);
  --icon-border-radius-left: var(--15px) 0 0 var(--15px);
  --icon-border-radius-right: 0 var(--15px) var(--15px) 0;
  /* Search filters */
  --search-filters-direction: row;
  --search-filters-align-items: center;
  --search-filters-gap: var(--15px);
  /* Search filters buttons */
  --search-filters-buttons-gap: var(--15px);
  --search-filter-button-gap: var(--10px);
  --search-filter-button-height: min(calc(100 / 1440 * 50vw), 50px);
  --search-filter-button-padding: min(calc(100 / 1440 * 4vw), 4px) var(--19px);
  --search-filter-button-border-radius: min(calc(100 / 1440 * 25vw), 25px);
  /* Information text */
  --information-text-gap: var(--10px);

  /* Cards */
  --card-border-radius: var(--20px);
  --card-image-border-radius-top: var(--20px) var(--20px) 0 0;
  --card-image-border-radius-left: var(--20px) 0 0 var(--20px);
  /* Accommodations cards */
  --accomodation-card-aspect-ratio: 250 / 207;
  --accommodations-card-width: min(calc(100 / 1440 * 250vw), 250px);
  --accommodations-card-height: min(calc(100 / 1440 * 207vw), 207px);
  --accommodations-card-image-height: min(calc(100 / 1440 * 124vw), 124px);
  --accommodations-card-content-height: min(calc(100 / 1440 * 79vw), 79px);
  /* Populars cards */
  --popular-card-aspect-ratio: 369 / 144;
  --populars-card-width: min(calc(100 / 1440 * 369vw), 369px);
  --populars-card-height: min(calc(100 / 1440 * 144vw), 144px);
  --populars-card-image-width: min(calc(100 / 1440 * 144vw), 144px);
  --populars-card-content-width: min(calc(100 / 1440 * 246vw), 246px);
  /* Activities cards */
  --activities-card-aspect-ratio: 297.5 / 439;
  --activities-card-width: min(calc(100 / 1440 * 297.5vw), 297.5px);
  --activities-card-height: min(calc(100 / 1440 * 439vw), 439px);
  --activities-card-image-height: min(calc(100 / 1440 * 380vw), 380px);
  --activities-card-content-height: min(calc(100 / 1440 * 59vw), 59px);
  --activities-card-content-padding-inline: var(--19px);

  /* Accommodations section */
  --accommodations-section-direction: row;
  --accommodations-section-gap: min(calc(100 / 1440 * 40vw), 40px);
  --accommodations-section-card-image-padding: min(calc(100 / 1440 * 5vw), 5px);
  --accommodations-section-card-content-padding: var(--15px);
  /* Accommodations */
  --accommodations-width: min(calc(100 / 1440 * 871vw), 871px);
  --accommodations-padding: var(--30px);
  --accommodations-gap: var(--30px);
  --accommodations-border-radius: var(--15px);
  /* Accommodations card-box */
  --accommodations-cards-direction: row;
  --accommodations-cards-gap: var(--30px);

  --populars-width: min(calc(100 / 1440 * 429vw), 429px);
  --populars-gap: var(--30px);
  --populars-padding: var(--30px);
  --populars-border-radius: var(--15px);

  --populars-cards-gap: var(--30px);
  --populars-cards-direction: column;
  --activities-width: 100%;
  --activities-gap: var(--30px);
  --activities-padding: var(--30px);

  --activities-cards-gap: var(--30px);
  --activities-cards-direction: row;
}

@media (max-width: 1024px) {
  :root {
    /* Tailles dynamiques les plus utilisées. */
    --10px: calc(100 / 1024 * 10vw);
    --15px: calc(100 / 1024 * 15vw);
    --16px: calc(100 / 1024 * 16vw);
    --18px: calc(100 / 1024 * 18vw);
    --19px: calc(100 / 1024 * 19vw);
    --20px: calc(100 / 1024 * 20vw);
    --30px: calc(100 / 1024 * 30vw);
    /* Variables dynamiques pour les écrans entre 768px et 1024px sur la base de la maquette à 1024px. */
    --content-gap: calc(100 / 1024 * 35vw);
    --main-container-padding-inline: calc(100 / 1024 * 50vw);
    --section-title-font-size: calc(100 / 1024 * 22vw);
    --card-subtitle-font-size: calc(100 / 1024 * 14vw);
    --information-section-gap: calc(100 / 1024 * 35vw);
    --headline-gap: calc(100 / 1024 * 8vw);
    --search-bar-width: calc(100 / 1024 * 377vw);
    --search-bar-height: calc(100 / 1024 * 49vw);
    --search-bar-icon-size: calc(100 / 1024 * 49vw);
    --search-bar-input-padding-left: calc(100 / 1024 * 24vw);
    --search-bar-button-width: calc(100 / 1024 * 132vw);
    --search-filters-direction: column;
    --search-filters-alignment: flex-start;
    --search-filters-gap: var(--20px);
    --search-filter-button-height: calc(100 / 1024 * 50vw);
    --search-filter-button-border-radius: calc(100 / 1024 * 25vw);
    --search-filter-button-padding: calc(100 / 1024 * 4vw) var(--19px);
    --accommodations-section-direction: column;
    --accommodations-section-gap: calc(100 / 1024 * 40vw);
    --accommodations-section-card-image-padding: calc(100 / 1024 * 5vw);
    --accommodations-width: 100%;
    --accommodations-card-width: calc(100 / 1024 * 268vw);
    --accommodations-card-height: calc(100 / 1024 * 207vw);
    --accommodations-card-image-height: calc(100 / 1024 * 124vw);
    --accommodations-card-content-height: calc(100 / 1024 * 79vw);
    --accommodations-cards-direction: row;
    --populars-width: 100%;
    --populars-gap: var(--20px);
    --populars-card-width: calc(100 / 1024 * 275vw);
    --populars-card-height: calc(100 / 1024 * 146vw);
    --populars-card-image-width: calc(100 / 1024 * 92vw);
    --populars-card-content-width: calc(100 / 1024 * 183w);
    --populars-cards-gap: var(--20px);
    --populars-cards-direction: row;
    --activities-width: 100%;
    --activities-card-width: calc(100 / 1024 * 193.5vw);
    --activities-card-height: calc(100 / 1024 * 270vw);
    --activities-card-image-height: calc(100 / 1024 * 200vw);
    --activities-card-content-height: calc(100 / 1024 * 70vw);
    --activities-cards-direction: row;
  }
}

@media (max-width: 768px) {
  :root {
    /* Tailles dynamiques les plus utilisées. */
    --10px: calc(100 / 375 * 10vw);
    --15px: calc(100 / 375 * 15vw);
    --16px: calc(100 / 375 * 16vw);
    --18px: calc(100 / 375 * 18vw);
    --19px: calc(100 / 375 * 19vw);
    --20px: calc(100 / 375 * 20vw);
    --30px: calc(100 / 375 * 30vw);
    /* Variables dynamiques pour les écrans entre 320px et 768px sur la base de la maquette à 375px. */
    --content-gap: calc(100 / 375 * 35vw);
    --main-container-padding-inline: 0;
    --section-title-font-size: calc(100 / 375 * 22vw);
    --card-subtitle-font-size: calc(100 / 375 * 14vw);
    --information-section-gap: calc(100 / 375 * 35vw);
    --information-section-padding-inline: var(--20px);
    --headline-gap: calc(100 / 375 * 8vw);
    --search-bar-width: calc(100 / 375 * 335vw);
    --search-bar-height: calc(100 / 375 * 49vw);
    --search-bar-justify-content: center;
    --search-bar-icon-size: calc(100 / 375 * 49vw);
    --search-bar-icon-border-radius: var(--15px) 0 0 var(--15px);
    --search-bar-input-padding-left: calc(100 / 375 * 24vw);
    --search-bar-icon-mobile-border-radius: var(--15px);
    --search-filter-button-height: calc(100 / 375 * 50vw);
    --search-filter-button-border-radius: calc(100 / 375 * 25vw);
    --search-filter-button-padding: calc(100 / 375 * 4vw) var(--19px);
    --accommodations-section-gap: var(--15px);
    --accommodations-section-card-image-padding: calc(100 / 375 * 5vw);
    --accommodations-gap: var(--15px);
    --accommodations-padding: var(--20px);
    --accommodations-card-width: calc(100 / 375 * 335vw);
    --accommodations-card-height: calc(100 / 375 * 207vw);
    --accommodations-card-image-height: calc(100 / 375 * 124vw);
    --accommodations-card-content-height: calc(100 / 375 * 83vw);
    --accommodations-cards-gap: var(--15px);
    --accommodations-cards-direction: column;
    --populars-gap: var(--15px);
    --populars-padding: var(--30px) var(--20px);;
    --populars-card-width: calc(100 / 375 * 335vw);
    --populars-card-height: calc(100 / 375 * 146vw);
    --populars-card-image-width: calc(100 / 375 * 112vw);
    --populars-card-content-width: calc(100 / 375 * 223w);
    --populars-cards-gap: var(--15px);
    --populars-cards-direction: column;
    --activities-gap: var(--20px);
    --activities-card-width: calc(100 / 375 * 315vw);
    --activities-card-height: calc(100 / 375 * 200vw);
    --activities-card-image-height: calc(100 / 375 * 141vw);
    --activities-card-content-height: calc(100 / 375 * 59vw);
    --activities-cards-gap: var(--15px);
    --activities-cards-direction: column;
  }
}

.fa-solid { color: var(--main-color); }



body {
  display: flex;
  justify-content: center;
}

p, span, i { font-size: var(--regular-font-size); }

.main-container {
  width: 100%;
  max-width: 1440px;
  /* Afin de pouvoir conserver le ratio (largeur et hauteur), le padding est calculé en fonction de la largeur de l'écran. */
  padding-inline: var(--main-container-padding-inline);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--content-gap);
  margin-block: var(--content-margin-block);
}

/* Les liens sont stylisés en noir sans être soulignés. */
a {
  text-decoration: none;
  color: black;
}

.text-large, .text-extra-large { font-weight: 700; }

.text-large { font-size: var(--large-font-size); }

.text-extra-large { font-size: var(--extra-large-font-size); }

/* -- HEADER -- */

/* Header : La taille des éléments pas besoin d'être dynamique en fonction de la taille de l'écran pour les tablettes et ordinateurs. */

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav img {
  width: 62px;
  margin-top: 15px;
}

.header-nav .nav-link {
  text-decoration: none;
  color: black;
  margin: 20px;
}

.header-nav .nav-link:hover {
  color: var(--main-color);
  border-top: 2px solid var(--main-color);
}

@import "partials/information";

/* -- GENERAL: TITLES AND CARDS -- */

.section-title {
  /* La taille du titre des sections ne changent pas d'un support à l'autre mais peut causer des légers problèmes lors du redimensionnement. */
  font-size: var(--section-title-font-size);
  font-weight: 700;
}

.card {
  background-color: white;
  border-radius: var(--card-border-radius);
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img { object-fit: cover; }

/*
  La taille du contenu textuel des cartes ne changent pas d'un support à l'autre mais peut causer des problèmes de débordement lors du redimensionnement.
  Une taille dynamique est utilisée.
*/

.card-title { font-size: var(--card-title-font-size); }

.card-subtitle { font-size: var(--card-subtitle-font-size); }

.card-rating { font-size: var(--16px); }

.euro { font-weight: 700; }

.neutral-star { color: var(--main-bg-color); }

/* -- ACCOMMODATIONS SECTION -- */
/*
  La taille des éléments a besoin d'être dynamique pour garder un ratio correct sur chaque taille d'écran intermédiaire.
  Les variables dynamiques sont utilisées.
 */

#accommodations-section {
  display: flex;
  flex-direction: var(--accommodations-section-direction);
  gap: var(--accommodations-gap);
}

#accommodations-section > article { background-color: var(--main-bg-color); }

#accommodations-section img { padding: var(--accommodations-section-card-image-padding); }

#accommodations-section .card-content { padding: var(--accommodations-section-card-content-padding); }

/* -- Accommodations -- */

/* Après calcul, la taille du bloc des hébergements correspond à 65% de la largeur disponible. */
.accommodations {
  width: var(--accommodations-width);
  padding: var(--accommodations-padding);
  border-radius: var(--accommodations-border-radius);
}

.accommodations-cards {
  display: flex;
  justify-content: space-around;
  gap: var(--accommodations-cards-gap);
  flex-direction: var(--accommodations-cards-direction);
  flex-wrap: wrap;
}

.accommodations-cards .card {
  display: flex;
  flex-direction: column;
  width: var(--accommodations-card-width);
  max-height: var(--accommodations-card-height);
}

.accommodations-cards img {
  height: var(--accommodations-card-image-height);
  border-radius: var(--card-image-border-radius-top);
}

/* L'agencement du contenu des cartes est différent d'une section à l'autre. Ici, le sous-titre est en bas de la carte. */
.accommodations-cards .card-content {
  display: flex;
  flex-direction: column;
  height: var(--accommodations-card-content-height);
  justify-content: space-between;
}

.show-more-title {
  font-size: var(--show-more-title-font-size);
  font-weight: 700;
}

/* -- Populars -- */

/* Après calcul, la taille du bloc des hébergements populaires correspond à 32% de la largeur disponible. */
.populars {
  display: flex;
  flex-direction: column;
  width: var(--populars-width);
  padding: var(--populars-padding);
  gap: var(--populars-gap);
}

.populars-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populars-cards {
  display: flex;
  flex-direction: var(--populars-cards-direction);
  justify-content: space-around;
  gap: var(--populars-cards-gap);
}

.populars-cards .card {
  box-sizing: border-box;
  display: flex;
  width: var(--populars-card-width);
  max-height: var(--populars-card-height);
}

.populars-cards img {
  width: var(--populars-card-image-width);
  border-radius: var(--card-image-border-radius-left);
}

.populars-cards .card-content {
  width: var(--populars-card-content-width);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* -- ACTIVITIES SECTION -- */
/* La taille des éléments a besoin d'être dynamique pour garder un ratio correct sur chaque taille d'écran intermédiaire. */

.activities {
  width: var(--activities-width);
  display: flex;
  flex-direction: column;
  gap: var(--activities-gap);
}

.activities-cards {
  display: flex;
  justify-content: space-around;
  gap: var(--activities-cards-gap);
}

.activities-cards .card {
  display: flex;
  flex-direction: column;
  width: var(--activities-card-width);
  max-height: var(--activities-card-height);
}

.activities-cards img { height: var(--activities-card-image-height); }

/* -- FOOOTER -- */
/* La taille des éléments pas besoin d'être dynamique en fonction de la taille de l'écran pour les tablettes et ordinateurs. */

.footer {
  padding-block: 20px;
  background-color: #F2F2F2;
}

.flex-footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 70px;
}

.flex-footer-column {
  display: flex;
  flex-direction: column;
  width: 447px;
  height: 163px;
  gap: 15px;
  margin-left: 20px;
}

.flex-footer-column h3 {
  font-size: 18px;
  font-weight: 700;
}

.flex-footer-column p {
  font-size: 16px;
  margin: 0;
}